<main>
  <% if @trip.errors.messages.any? %>
    <section class="error-messages">
      There were some problems with your submission!
      <ul>
        <% @trip.errors.messages.each do |column, problem_list| %>
          <% problem_list.each do |problem| %>
            <li>
              <%= column %>: <%= problem %>
            </li>
          <% end %>
        <% end %>  
      </ul>
    </section>
  <% end %>

  <%= form_with model: @trip, class: "trip-form" do |f| %>
     <strong><p>Please fill out trip information</p></strong>

  <div>
      <%= f.label :passenger_id, "Please enter your Passenger ID" %>
      <div class="field"><%= f.text_field :passenger_id, placeholder: "Your ID number" %></div>
    </div>

    <div class="submit"><%= f.submit button_text %></div>

  <% end %>
</main>