<h2>Trip details page</h2>


<nav>
  <table>
    <tbody>
      <tr>
        <td>Trip ID: <%=trip.id%> </td>
        <td>Date: <%=trip.date%> </td>
        <td>Rating: <%=trip.rating%> </td>
        <td>Cost: $<%='%.2f'%(trip.cost/100) %></td>
        <td>Passenger:<%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></td>
        <td>Driver: <%= link_to trip.driver.name, driver_path(trip.driver.id)%></td>
      </tr>
          <%end%>
    </tbody>
  </table>
</nav>