<h2>Trip details page</h2>

<p>Date:<%= @trip.date %></p>
<p>Rating:<%= @trip.rating %></p>
<p>Cost: $<%= '%.2f'% @trip.cost %></p>
<p>Passenger:<%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></p>
<p>Driver:<%= link_to @trip.driver.name, driver_path(@trip.driver.id) %> </p>