<h2>Trip details page</h2>

<p>
  ID: <%= @trip.id %>
</p>
<p>
  Date:  <%= @trip.date %>
</p>
<p>
  Driver Name: <%= @trip.driver_id %>
</p>

<%# note to self - rewrite the IDs as names %>
<p>
  Passenger Name:  <%= @trip.passenger_id %>
</p>
<p>
  Driver Rated:  <%= @trip.rating %> 
</p>
<p>
  Trip Cost: <%= @trip.cost%> 
</p>