<% if @driver.errors.messages.any? %>
  <section class="error-messages">
    There were some problems with your submission!
    <ul>
      <% @driver.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>  
    </ul>
  </section>
<% end %>

<%= form_with model: @driver, class: "driver-form" do |f| %>
  <p>Please fill out driver information</p>

 <div>
    <%= f.label :name, "Please enter your name" %>
    <%= f.text_field :name, placeholder: "Ada Lovelace" %>
  </div>

  <div>
    <%= f.label :vin, "Please enter your Vehicle Identification Number" %>
    <%= f.text_field :vin, placeholder: "x-xxxx-xxxx-xxxx-xxxx" %>
  </div>

  <%= f.submit button_text %>

<% end %>