<h1>Make a new driver!!</h1>

<%= form_with model: @driver, class: 'driver-form' do |f| %>
  <p>Please fill out the driver's information</p>

  <div>
    <%= f.label :name, "Please enter your name" %>
    <%= f.text_field :name, placeholder: "Ada Lovelace" %>
  </div>

  <div>
    <%= f.label :vin, "Please enter your Vehicle Identification Number" %>
    <%= f.text_field :vin, placeholder: "x-xxxx-xxxx-xxxx-xxxx" %>
  </div>

  <%= f.submit "Add driver!" %>

<% end %>