<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Unica+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  </head>

  <body>
    
    <header>
      <h1 class ="header">  <br>Tail-Wagon </h1>
      <h2>A Pet-Friendly Rideshare App</h2>
    </header>

    <nav>
      <ul id="mainMenu">
       <li><span class="fas fa-paw"></span>   <%= link_to 'List of Drivers', drivers_path %></li>
       <li><span class="fas fa-paw"></span>   <%= link_to "List of Passengers", passengers_path%></li>
       <li><span class="fas fa-paw"></span>   <%= link_to "List of Trips", trips_path%> </li>
       <li><span class="fas fa-paw"></span>   <%= link_to "New Driver Registration", new_driver_path%> </li>
       <li><span class="fas fa-paw"></span>   <%= link_to "New Passenger Registration", new_passenger_path%> </li>
       <li><span class="fas fa-paw"></span>   <%= link_to "Request a New Trip", new_trip_path%> </li>
      </ul>
    </nav>

    

    <main>
      <%= yield %>
    </main>
  
  </body>
</html>
